
.card-stats {
  width: 100%;          /* Ocupará todo el ancho disponible */
  min-height: 250px;     /* Establece una altura mínima */
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* Espacia cuerpo y pie de tarjeta */
  align-items: center;
  padding: 20px;
  margin: 10px 0;
}

.numbers {
  text-align: center;   /* Centra el contenido */
}

.row-equal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-img img {
    width: 200px;   /* Ajusta según el tamaño deseado */
    height: 200px;  /* Mantén la misma altura */
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
    border-radius: 100%; /* Opcional: hace que las imágenes sean circulares */
  }